/* Color Scheme:
Dark Blue: #264458
Gray: #3F4045
coffee brown: #30292F
Cadet: #5D737E
*/

body {
    margin: 0px;
    font-family: 'Mulish', sans-serif;

}

.nav-bar {
    display: flex;
    background-color: #264458;
    height: 200px;
    color: #5D737E;
    justify-content: space-between;
    align-items: center;
}

.nav-bar > .left-column {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.icon i {
    color: #5D737E;
    font-size: 2em;
    margin-right: 12px;
}

.left-column > .phone-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

.phone-hours-wrapper {
    color: white;
}

.phone-number a {
    text-decoration: none;
    color: white;
}


.nav-bar > .center-column {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-bar > .center-column > .logo {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 400px;
}

.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper > .nav-link {
    width: 80px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: mediumspringgreen;
    transition: ease-in-out 0.25s;
}

.link:hover {
    color: #42b0f5;
    letter-spacing: 2px;
}

.logo img {
    width: 125px;
}

.phone-number {
    font-family: 'Mulish', sans-serif;
}

.nav-bar > .right-column {
    display: flex;
    padding-right: 100px;

}

.address-wrapper {
    text-align: right;
    margin-right: 12px;
}