/* Color Scheme:
Dark Blue: #264458
Gray: #3F4045
coffee brown: #30292F
Cadet: #5D737E
*/

body {
    margin: 0px;
}

.nav-bar {
    display: flex;
    background-color: #264458;
    height: 200px;
    color: #5D737E;
    justify-content: space-between;
    align-items: center;
}

.nav-bar > .left-column {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.icon i {
    color: #5D737E;
    font-size: 2em;
    margin-right: 12px;
}

.left-column > .phone-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.phone-hours-wrapper {
    color: white;
}

.address-wrapper {
    padding-right: 100px;
}

.link {
    text-decoration: none;
}